body{
	background-color: #D4DDED;
	font-family: Helvetica; sans-serif;
}
#divImagem{
	text-align: center;
}
#Imagem{
	padding-top: 3%;
	width: 670.73px;
}
#divGrande{
	padding-left: 19%;
	padding-top: 3%;
}
#spanLinguagens{
	padding-right: 0.5%;
	color: #6e96d5;
}
.spanLinks{
	padding-right: 1%;
}
a:link{
	color: #6e96d5;
	text-decoration: none;
}
#paginaInativa a:visited{
	color: #a6c6ee;
	text-decoration: none;
}
a:visited{
	color: #6e96d5;
	text-decoration: none;
}
p{
	line-height: 25px;
}
#PrimeiroParagrafo{
	padding-top: 5%;
}
#inputEnviar{
	width:250px;
	height: 17px;
}
#ultimoParagrafo{
	padding-bottom: 10%;
}
